{% macro ifdef(key,value,def) %}
{% if value is defined %}
{{key}}={{value}}
{% elif def is defined %}
{{key}}={{def}}
{% endif %}
{% endmacro %}

# This is config file for zabbix_agentd
# in case the agent is started standalone from init.d (not via inetd).
#
# To get more information about ZABBIX, go http://www.zabbix.com

############ GENERAL PARAMETERS #################

# List of comma delimited IP addresses (or hostnames) of ZABBIX servers.
# No spaces allowed. First entry is used for sending active checks.
# Note that hostnames must resolve hostname->IP address and
# IP address->hostname.

#Server=127.0.0.1
{{ ifdef('Server', zabbix_agent_server, '127.0.0.1') }}

# Server port for sending active checks

#ServerPort=10051
{{ ifdef('Server', zabbix_agent_server_port) }}

# Unique hostname. Required for active checks.

Hostname={{ zabbix_agent_hostname | default (ansible_hostname) }}

# Listen port. Default is 10050

#ListenPort=10050
{{ ifdef('ListenPort', zabbix_agent_listen_port) }}

# IP address to bind agent
# If missing, bind to all available IPs

#ListenIP=127.0.0.1
{{ ifdef('ListenIP', zabbix_agent_listen_ip) }}

# Number of pre-forked instances of zabbix_agentd.
# Default value is 5
# This parameter must be between 1 and 16

StartAgents={{ zabbix_agent_start_agents | default(5) }}

# How often refresh list of active checks. 2 minutes by default.

#RefreshActiveChecks=120
{{ ifdef('RefreshActiveChecks', zabbix_agent_refresh_active_checks) }}

# Disable active checks. The agent will work in passive mode listening server.

#DisableActive=1
{{ ifdef('DisableActive', zabbix_agent_disable_active) }}

# Enable remote commands for ZABBIX agent. By default remote commands disabled.

#EnableRemoteCommands=1
{{ ifdef('EnableRemoteCommands', zabbix_agent_enable_remote_commands) }}

# Specifies debug level
# 0 - debug is not created
# 1 - critical information
# 2 - error information
# 3 - warnings
# 4 - information (default)
# 5 - for debugging (produces lots of information)

DebugLevel={{ zabbix_agent_debug_level | default(3) }}

# Name of PID file

PidFile={{ zabbix_agent_pid_file | default('/var/run/zabbix/zabbix_agentd.pid') }}

# Name of log file.
# If not set, syslog will be used

LogFile={{ zabbix_agent_log_file | default('/var/log/zabbix-agent/zabbix_agentd.log') }}

# Maximum size of log file in MB. Set to 0 to disable automatic log rotation.
#LogFileSize=1
{{ ifdef('LogFileSize', zabbix_agent_log_file_size) }}

# Spend no more than Timeout seconds on processing
# Must be between 1 and 30

Timeout={{ zabbix_agent_timeout | default(3) }}

####### USER-DEFINED MONITORED PARAMETERS #######
# Format: UserParameter=<key>,<shell command>
# Note that shell command must not return empty string or EOL only
#UserParameter=system.test,who|wc -l
### Set of parameter for monitoring MySQL server (v3.23.42 and later)
### Change -u<username> and add -p<password> if required
#UserParameter=mysql.ping,mysqladmin -uroot ping|grep alive|wc -l
#UserParameter=mysql.uptime,mysqladmin -uroot status|cut -f2 -d":"|cut -f1 -d"T"
#UserParameter=mysql.threads,mysqladmin -uroot status|cut -f3 -d":"|cut -f1 -d"Q"
#UserParameter=mysql.questions,mysqladmin -uroot status|cut -f4 -d":"|cut -f1 -d"S"
#UserParameter=mysql.slowqueries,mysqladmin -uroot status|cut -f5 -d":"|cut -f1 -d"O"
#UserParameter=mysql.qps,mysqladmin -uroot status|cut -f9 -d":"
#UserParameter=mysql.version,mysql -V

{% for k,v in zabbix_agent_custom_parameters.items() %}
  {% for p in v %}
UserParameter={{p}}
  {% endfor %}
{% endfor %}

